pandas
overrides
frozendict
h5py
tables
ipywidgets
stringcase
retry
tokenizers
scikit-learn
jupyter
wrapt
seaborn
beautifulsoup4
feedparser
requests
scrapy

#Tests
oktest
mypy
pylint

#Pre-installed in Dockerfile
tensorflow
